.Wrapper {
  width: 100%;
  height: 100vh;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.auth__Container button {
  display: block;
}
